<div class="container main">
  <div class="row">
    <div class="four columns portfolio">
      <%= link_to(image_tag('backpacker.jpg'), image_path('backpacker.jpg'), :class => "image-link")  %>
    </div>

    <div class="four columns portfolio">
     <%= link_to(image_tag('desert_cycle.jpg'), image_path('desert_cycle.jpg'), :class => "image-link")  %>
    </div>

    <div class="four columns portfolio">
      <%= link_to(image_tag('italy_bikes.jpg'), image_path('italy_bikes.jpg'), :class => "image-link")  %>
    </div>
  </div>

  <div class="row">
    <div class="four columns portfolio">
      <%= link_to(image_tag('on_safari.jpg'), image_path('on_safari.jpg'), :class => "image-link")  %>
    </div>

    <div class="four columns portfolio">
      <%= link_to(image_tag('overlook_mtn.jpg'), image_path('overlook_mtn.jpg'), :class => "image-link")  %>
    </div>

    <div class="four columns portfolio">
      <%= link_to(image_tag('paris_couple.jpg'), image_path('paris_couple.jpg'), :class => "image-link")  %>
    </div>
  </div>
</div> <!-- Container-->

<div class="row black">
  <div class="container">
    <div class="four columns">
      <%= image_tag "horace.jpg", :class => "avatar" %>
    </div>

    <div class="eight columns">
      <h2 class="bio">About Me</h2>
      <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>
    </div>
  </div>
</div>