<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Abel', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Satisfy', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main_nav black">
  <div class="container">
    <div class="twelve columns">
      <div class="logo">
        <a href="#">Horace's Portfolio</a>
      </div>
    </div>
  </div>
</header>

<%= yield %>

<footer>
  <div class="container">
    <div class="row twelve columns">
      <ul class="social">
        <li class="twitter"><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
        <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
        <li class="github"><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
      </ul>
    </div>
    <div class="row twelve columns">
      <p class="copyright">&copy; <%= Time.now.year %> Portfolio. All Rights Reserved.</p>
    </div>
  </div>
</footer>


<script type="text/javascript">
    // Initialize popup as usual
    $('.image-link').magnificPopup({
        type: 'image',
        mainClass: 'mfp-with-zoom', // this class is for CSS animation below

        zoom: {
            enabled: true, // By default it's false, so don't forget to enable it

            duration: 100, // duration of the effect, in milliseconds
            easing: 'ease-in-out', // CSS transition easing function

            // The "opener" function should return the element from which popup will be zoomed in
            // and to which popup will be scaled down
            // By defailt it looks for an image tag:
            opener: function(openerElement) {
                // openerElement is the element on which popup was initialized, in this case its <a> tag
                // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                return openerElement.is('img') ? openerElement : openerElement.find('img');
            }
        }

    });
</script>
</body>
</html>
